
h1
{
  color: blue;
}
h2
{
  color: white;
}
.fh:hover {
  background-color:black;
  font-size: 150%;
}
.fj:hover {
  background-color:black;
  font-size: 150%;
}
img{
  border-color: red;
}
